a {
  text-decoration: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
  font-style: none;
  font-size: unset;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  width: 100%;
}

// @include for-size(tablet-portrait) {
//   width: 480px;
// }

//   @include for-size(tablet-landscape) {
//     padding-left: 40px;
//     padding-right: 40px;

//     width: 768px;
//   }

//   @include for-size(desktop) {
//     padding-left: 62.5px;
//     padding-right: 62.5px;

//     width: 1440px;
//   }
// }
